.cardMainDiv{
    width: 34%;
}
.watheTaLogoDiv{
    width: 60%;
    height: 8vh;
}
.wathetaImg{
    width: 100%;
    height: 100%;
}
.bkashLogoDiv{
    width: 12%;
    height: 3vh;
}
.bkashLogo{
    width: 100%;
    height: 100%;
}
.payLogoDiv{
    width: 20;
    height: 3vh;
}
.payLogo{
    width: 100%;
    height: 100%;
}
.infoDiv{
    font-size: 13px;
    font-weight: 300;
    color: #707070;
    padding: 5px;
}
.daynamicInfoDiv{
    font-size: 13px;
    font-weight: 400;
    color: #121212;
    padding: 5px;
}
.cardPaymentButton{
    background-color: #FFC300;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.paymentLogoDivSll{
    width: 50%;
    height: 4vh;
}
.ModalPayButton{
    background-color: #56daa3;
}
.logoImgSSL{
    width: 100%;
    height: 100%;
}
.paymentLogoDivBkash{
    width: 50%;
    height: 4vh;
}
.logoImgBkash{
    width: 100%;
    height: 100%;
}
.bkashColor{
    background-color: #DB1962;
}
.payStationbg{
  background-color: #2E2553;
}

@media (max-width: 600px){
    .cardMainDiv{
        width: 100%;
    }
    .watheTaLogoDiv{
        width: 40%;
        height: 5vh;
    }
    .wathetaImg{
        width: 100%;
        height: 100%;
    }
    .bkashLogoDiv{
        width: 20%;
        height: 3vh;
    }
    .bkashLogo{
        width: 100%;
        height: 100%;
    }
    .payLogoDiv{
        width: 35%;
        height: 3vh;
    }
    .payLogo{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivSll{
        width: 45%;
        height: 3vh;
    }
    .logoImgSSL{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivBkash{
        width: 40%;
        height: 3vh;
    }
    .logoImgBkash{
        width: 100%;
        height: 100%;
    }
    .infoDiv{
        font-size: 10px;
        font-weight: 300;
        color: #707070;
        padding: 2px;
    }
    .daynamicInfoDiv{
        font-size: 10px;
        font-weight: 400;
        color: #121212;
        padding: 2px;
    }
    .cardPaymentButton{
        background-color: #FFC300;
        color: black;
        font-weight: 500;
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .cardMainDiv{
        width: 52%;
    }
    .watheTaLogoDiv{
        width: 40%;
        height: 5vh;
    }
    .wathetaImg{
        width: 100%;
        height: 100%;
    }
    .bkashLogoDiv{
        width: 20%;
        height: 3vh;
    }
    .bkashLogo{
        width: 100%;
        height: 100%;
    }
    .payLogoDiv{
        width: 35%;
        height: 3vh;
    }
    .payLogo{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivSll{
        width: 50%;
        height: 4vh;
    }
    .logoImgSSL{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivBkash{
        width: 50%;
        height: 4vh;
    }
    .logoImgBkash{
        width: 100%;
        height: 100%;
    }
    .infoDiv{
        font-size: 10px;
        font-weight: 300;
        color: #707070;
        padding: 2px;
    }
    .daynamicInfoDiv{
        font-size: 10px;
        font-weight: 400;
        color: #121212;
        padding: 2px;
    }
    .cardPaymentButton{
        background-color: #FFC300;
        color: black;
        font-weight: 500;
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .cardMainDiv{
        width: 42%;
    }
    .watheTaLogoDiv{
        width: 40%;
        height: 4vh;
    }
    .wathetaImg{
        width: 100%;
        height: 100%;
    }
    .bkashLogoDiv{
        width: 20%;
        height: 2.5vh;
    }
    .bkashLogo{
        width: 100%;
        height: 100%;
    }
    .payLogoDiv{
        width: 40%;
        height: 3vh;
    }
    .payLogo{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivSll{
        width: 50%;
        height: 3vh;
    }
    .logoImgSSL{
        width: 100%;
        height: 100%;
    }
    .paymentLogoDivBkash{
        width: 50%;
        height: 3vh;
    }
    .logoImgBkash{
        width: 100%;
        height: 100%;
    }
    .infoDiv{
        font-size: 10px;
        font-weight: 300;
        color: #707070;
        padding: 2px;
    }
    .daynamicInfoDiv{
        font-size: 10px;
        font-weight: 400;
        color: #121212;
        padding: 2px;
    }
    .cardPaymentButton{
        background-color: #FFC300;
        color: balck;
        font-weight: 500;
        font-size: 12px;
    }  
}